// primer esquema de colores:
$white: #ffffff;
$platinum: #ef7f6d;
$gray: #bec1bb;

// segundo esquema de colores:
$blue-bell: #a491d2;
$soap: #cdc3e6;
$pale-lavender: #d4dcff;

// tercer esquema de colores:
$dark-jungle: #1b1f21;
$outer-space: #444749;
$old-silver: #828485;

// Familia de fuentes:
$roboto: "Roboto", sans-serif;
$open-sans: "Open Sans", sans-serif;

// Peso de fuentes:
$regula: 400;
$bold: 700;

// tamaño de fuentes:
$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;